@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.claro {
  --page: #fff;
  --text: #000;
  --darktext: #000;
  --elements: #6b07bd;
  --messagetext: #fff;
}

.escuro {
  --page: #2c2c2c;
  --text: #fff;
  --darktext: #000;
  --elements: #6b07bd;
  --messagetext: #fff;
}

.dark {
  --page: #000;
  --text: #fff;
  --darktext: #000;
  --elements: #fff;
  --messagetext: #000;
}

body {
  background: var(--page);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.no-scroll {
  overflow: hidden;
}
