@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.claro {
  --page: #fff;
  --text: #000;
  --text2: #fff;
  --elements: #6b07bd;
}

.escuro {
  --page: #2c2c2c;
  --text: #fff;
  --text2: #000;
  --elements: #6b07bd;
}

.dark {
  --page: #000;
  --text: #fff;
  --text2: #000;
  --elements: #fff;
}

body {
  background: var(--page);
  font-family: 'Poppins', sans-serif;
}